<div class="row blog_entries">
  <div class="columns four blog_left" data-hook>
    <%= render :partial => 'spree/blog_entries/blog_sidebar' %>
  </div>

  <div class="columnns twelve blog_right">
    <h1><%= Spree.t(:blog_archive) %>: <%= t("date.month_names")[params[:month].to_i] unless params[:month].blank? %> <%= params[:year].to_i %></h1>
    <%= render :partial => 'spree/blog_entries/blog_entries' %>
  </div>
</div>
